html, body {
  margin: 0;
  padding: 0;
  font-family: var(--font-geist-sans), var(--font-geist-mono);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1A202C;
  color: white;
}
