.section {
  margin: 0 auto;
  max-width: 96rem;
  padding: 6rem 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  color: white;
  text-align: center;
}

@media (min-width: 640px) {
  .section {
    padding: 6rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .section {
    padding: 6rem 8rem;
  }
}

.aboutMe {
  order: 1;
}

@media (min-width: 640px) {
  .orderLast {
    order: 2;
  }
}

.heading {
  font-size: 3.75rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.description {
  font-size: 1.875rem;
}

.profileImage {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
}

.image {
  border-radius: 20px;
  object-fit: cover;
}

.projectsSection {
  margin: 0 auto;
  max-width: 96rem;
  padding: 6rem 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 640px) {
  .projectsSection {
    padding: 6rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .projectsSection {
    padding: 6rem 8rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

.projectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: black;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.projectTitle {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.projectDescription {
  font-size: 1.125rem;
}

.projectImage {
  width: 240px;
  height: 240px;
  padding: 0.5rem;
}

.invert {
  filter: invert(1);
}
